@page "/PortList"
@using BookingService.Shared
@using Newtonsoft.Json
@inject HttpClient Http


<PageTitle>Port List</PageTitle>

<h1>Ports</h1>
<br />
<div style="position:absolute">
    <a href="/PortForm/" class="btn btn-primary">Mew Port</a>
</div>
<br /><br />

@if (ports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Flag</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var port in ports)
            {
                <tr>
                    <td>@port.Name</td>
                    <td>
                        
                        @port.Country.Name

                    </td>
                    <td>
                          <span class="fi fi-@port.Country.Initials.ToLower()"></span>

                    </td>
                    <td>
                        <a href="/PortForm/@port.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Port>? ports;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetAsync("/PortInfo/GetList");
        var stringResult = await result.Content.ReadAsStringAsync();
        ports = JsonConvert.DeserializeObject<List<Port>>(stringResult);  
    }
}
